@import "tailwindcss";

@layer base {
  body {
    font-family: "tajawal", sans-serif;
  }
}

@layer components {
  .font-tajawal {
    font-family: var(--font-tajawal);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-8px);
  }
  50% {
    transform: translateX(8px);
  }
  75% {
    transform: translateX(-8px);
  }
}

.shake-animation {
  animation: shake 0.5s ease-in-out;
}
